html
  box-sizing border-box
*,
&:before,
&:after 
  box-sizing inherit

body
  background-color bg-color
  color text-color
  font-family 'Roboto', Helvetica, sans-serif
  font-size 10px
  line-height 10px * 1.4
  overflow-x hidden
  
.main
  display block
