doctype html
html
  include ../_blocks/_head.jade

  body
    include ../_blocks/_header.jade
    block content
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi beatae nemo porro repellat praesentium, suscipit ea totam cupiditate, vitae qui autem laboriosam, placeat, excepturi. Saepe eveniet ipsam voluptatibus aliquam exercitationem?
    include ../_blocks/_footer.jade
