extends ./_layouts/landing.jade

block title
  title Ningen Project

block content
  include ./index/slider.jade
  include ./index/features.jade
  include ./index/feedback.jade
  include ./index/contact.jade