footer.container-full.footer
  .container
    .row
      .col-xs-12
        .footer__text Have any questions: <br>
          a.footer__link(href="mailto:hello@ningen.gr") hello@ningen.gr

if !dev
  include ./yametrika.jade