.icon
  display inline-block
  
  &_chat
    icon '/assets/images/speech.svg' 15px
    cursor help
    margin-left 5px
  
  &_angularjs
    icon '/assets/images/angularjs.svg' 100px 50px
    
  &_bootstrap
    icon '/assets/images/bootstrap.svg' 50px
    
  &_css3
    icon '/assets/images/css3.svg' 50px
    
  &_h5bp
    icon '/assets/images/h5bp.svg' 50px
 
  &_html5
    icon '/assets/images/html5.svg' 50px
  
  &_jquery
    icon '/assets/images/jquery.svg' 100px 50px
    
  &_js
    icon '/assets/images/js.svg' 50px
  
  &_nodejs
    icon '/assets/images/nodejs.svg' 100px 50px
  
  &_php
    icon '/assets/images/php.svg' 100px 50px
    
  &_react
    icon '/assets/images/react.svg' 50px
  
  &_silex
    icon '/assets/images/silex.png' 50px
  
  &_woocommerce
    icon '/assets/images/woocommerce.png' 100px 50px
  
  &_wordpress
    icon '/assets/images/wordpress.svg' 100px 50px
    
  &_yii
    icon '/assets/images/yii.png' 100px 50px